

<header>
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" id="flexToolbar">
      
        <span id="projectTitle"><img src="../../assets/ntu-logo.svg" alt="ntu-logo" srcset="" width="100" height="100"> Admin Portal</span>
     
    </mat-toolbar>
</header>
<body>
    <h2>Admin Login</h2>
    <form class="form-box" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
        <div class="form-group" class="form-input" appearance="outline">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="email" id="email" name="email" >
            </mat-form-field>
        </div>
        <div class="form-group" class="form-input" appearance="outline">
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" id="password" name="password">
            </mat-form-field>
        </div>
        <div class="continue-button">
        <button mat-raised-button type="submit" [disabled]="loginForm.invalid">Login</button>
        </div>
    </form>
</body>