<h1 mat-dialog-title>Job</h1>
<div mat-dialog-content [formGroup]="dialogForm" style="display : flex; justify-content : space-between">
    <div>
    <mat-form-field style="width: 300px;">
        <mat-label>Details</mat-label>
        <textarea style="overflow:hidden"
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="15"
        formControlName="jobDetails" required></textarea>
    </mat-form-field>
    </div>
    <div>
    <mat-form-field>
        <mat-label>Owner</mat-label>
        <mat-select [(value)]="jobOwner" formControlName="jobOwner" required> 
            <mat-option *ngFor="let user of userArray" [value]="user.first_name">
                {{user.first_name}}
            </mat-option>
        </mat-select>
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-chip-list><mat-chip color="primary">{{data.jobBoard}}</mat-chip></mat-chip-list>
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Hours Spent</mat-label>
        <input matInput type="text" formControlName="jobHours" required>
    </mat-form-field>
    </div><br>
    

</div>

<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)=save()>Save</button>
    <button mat-raised-button color="warn" (click)=delete()>Delete</button>
    <button *ngIf=isDone mat-raised-button color="accent" (click)=archive()>Archive</button>
    
    <!-- <button mat-button [mat-dialog-close]="data">Save</button> -->
</div>
