
<header>
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between baseline" id="flexToolbar">
      
      <span id="projectTitle">Project Management</span>
    
      <button mat-button color="warn" id="logout" routerLink="/register" routerLinkActive="active">Register</button>
     
    </mat-toolbar>
</header>
<body>
    <h2>Login </h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="text" [(ngModel)]="model.email" id="email" name="email" #email='ngModel'>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" [(ngModel)]="model.password" id="password" name="password" #password='ngModel'>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary">Login</button>
    </form>
</body>