
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library Page</title>
  </head>
  <body>
    <header>
      <h1>Welcome to the library page</h1>
    </header>
   
    <nav class="navbar">
      <ul>
        <li><a routerLink="/" routerLinkActive="active">Home</a>&nbsp;</li>
        <li><a routerLink="/books" routerLinkActive="active">Books</a></li>
      </ul>
    </nav>
    <div class="rightColumn">
      Library Menu
    </div>
    <div class="container">
      <p>asdasdsad</p>
    </div>
  </body>


<router-outlet></router-outlet>
