.navbar {
    padding: 0 100px 100px 0 ;
    width: 5%;
    background-color: blue;
    float: left;
    display: flex;
    /* margin-right: 50px; */
}

.rightColumn {
    
    border : 5px solid black;
    padding : 20px;
    display : inline-block;
}

body {
    background-color: blue;
}