
<header>
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" id="flexToolbar">
      
      <span id="projectTitle"><img src="../../assets/ntu-logo.svg" alt="ntu-logo" srcset="" width="100" height="100">Project Management Portal</span>
    
      <button mat-button color="warn" id="logout" routerLink="/login" routerLinkActive="active">Login</button>
     
    </mat-toolbar>
</header>
<body>
    
    <form class="form-box" (ngSubmit)="onSubmit()" [formGroup]="registerForm">
        <h2>Register for an account</h2>
        <div class="form-group">
            <mat-form-field class="form-input" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput type="text"  id="username" name="username" formControlName="username" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="form-input" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="text"  id="email" name="email" formControlName="email" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="form-input" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput type="text"  id="first_name" name="first_name" formControlName="first_name" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="form-input" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput type="text"  id="last_name" name="last_name" formControlName="last_name" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="form-input" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" id="password" name="password" formControlName="password" required>
            </mat-form-field>
        </div>
        <div>
        <button mat-raised-button color="primary" class="form-input" type="submit" [disabled]="!registerForm.valid">Register</button>
        </div>
    </form>
</body>