<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="commentForm">
        <mat-form-field style="width: 80%;">
            <textarea matInput placeholder="Write comment" id="comment" name="comment" formControlName="comment"></textarea>            
        </mat-form-field>
        <button mat-button [disabled]="!commentForm.valid" type="submit">Add</button>
    </form>
</div>



<div *ngIf="parentComments">
    <div *ngFor="let comment of parentComments; let i = index" >
        <span><span style="font-weight: 700;">{{comment.username}} </span><span>{{comment.created_at}}</span></span>
        <div>{{comment.content}}</div>
        <button mat-button (click)="showReply(i)" type="submit">Reply</button>
        <div *ngIf="showInput[i]" class="container">
            <form (ngSubmit)="replySubmit(comment.id)" [formGroup]="replyForm">
                <mat-form-field style="width: 60%; padding-left: 20px;" >
                    <mat-label>Reply</mat-label>
                    <textarea matInput placeholder="Write comment" id="reply" name="reply" formControlName="reply"></textarea>            
                </mat-form-field>
                <button mat-button [disabled]="!replyForm.valid" type="submit">Reply</button>
                <button mat-button (click)="cancelReply(i)">Cancel</button>
            </form>
        </div>
        <div *ngIf="comment.replies" class="container">
            <div *ngFor="let reply of comment.replies" style="padding-left: 20px;">
                <span><span style="font-weight: 700;">{{reply.username}} </span><span>{{reply.created_at}}</span></span>
                <div>{{reply.content}}</div>
            </div> 
        </div>
        
    </div>

</div>