#flexToolbar{
    height: 3em;
}

body {
    background-color: #eeeeee;
}


mat-sidenav-container {
    position: absolute;
    top: 3.5em;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    background: #eeeeee;
}


  header {
      text-align: center;
      display: flex;
      
  }

  mat-sidenav-content {
     
      margin-top: 1em;
      background-color: #eeeeee;
  }



  .active-link{
      font-weight: bold;
      border-bottom: 2px solid red; 
  }


  mat-select, mat-label {
      font-size: small;
  }




  .mat-form-field-wrapper {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }