
<header>
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between baseline" id="flexToolbar">
    <div>
    <span *ngIf="user">Welcome {{user.first_name}}</span>
    </div>
    <button mat-button color="warn" id="logout" (click)="logout()">Logout</button>
   
  </mat-toolbar>
  </header>

<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="./schedule" routerLinkActive="active">Calendar</a> 
        <a mat-list-item routerLink="./books" routerLinkActive="active">Users</a>
        <a mat-list-item [routerLink]="['./allTasks']" [queryParams]="{taskType : 'meetingNotes'}">Meeting Notes</a>
        <a mat-list-item [routerLink]="['./allTasks']" [queryParams]="{taskType : 'weeklyReports'}">Weekly Reports</a>
        <a mat-list-item [routerLink]="['./allTasks']" [queryParams]="{taskType : 'otherReports'}">Other Reports</a>
        <a mat-list-item [routerLink]="['./teamboard']">Team Board</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
    
      <router-outlet></router-outlet>
      
    </mat-sidenav-content>
  </mat-sidenav-container>