#flexToolbar{
    height: 40px;
}


.container {
   
    background: #eee;
    min-height: 500px;
    padding-top: 2rem;
    
    
    
  }

  header {
      text-align: center;
      display: flex;
  }

/*   mat-sidenav {
     position: absolute;
  } */

  .active-link{
      font-weight: bold;
      border-bottom: 2px solid red; 
  }


