#flexToolbar{
    height: 3em;
}

mat-sidenav-container {
    position: absolute;
    top: 4em;
    left: 0;
    right: 0;
    bottom: 0;
    
    background: #eee;
}


  header {
      text-align: center;
      display: flex;
      
  }

  mat-sidenav-content {
      margin-right:1em ;
      margin-top: 1em;
  }



  .active-link{
      font-weight: bold;
      border-bottom: 2px solid red; 
  }


  mat-select, mat-label {
      font-size: small;
  }




  .mat-form-field-wrapper {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }